# Dependencies
node_modules/
.pnp
.pnp.js
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# Environment variables — JANGAN PERNAH di push
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
client/.next/
client/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Prisma generated
server/node_modules/
server/prisma/migrations/dev/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db